<head>
    <title>Cadastrar pedido</title>
</head>

{{>navbar}}

<main class="lyt_forms pg_cadastro-pedido">
    <div class="form-container column">
        {{#each erros}}
        <div class="form-error">
            <h2 class="sub titulo">{{text}}</h2>
        </div>
        {{/each}}
        <h1 class="titulo">Cadastrar pedido</h1>
        <form class="form-login column" id="formPedido" method="POST" action="/criar" enctype="multipart/form-data">

            <h2 class="sub titulo">Dados iniciais</h2>
            <div class="dados-iniciais row">
                <div>
                    <label for="">Título</label>
                    <input class="input-form" type="text" name="titulo" id="titId" maxlength="30" />
                </div>
                <div>
                    <label>Data de encerramento</label>
                    <input class="input-form" type="date" name="dtPedido" id="dtPed" />
                </div>
            </div>

            <h2 class="sub titulo">Local de entrega do alimento</h2>
            <div class=" local-entrega row">
                <div class="column">
                    <label for="">Estado</label>
                    <select name="estado" class="input-form" id="estadoPed">
                        <option value="0">Selecione o Estado</option>
                    </select>
                </div>
                <div class="column">
                    <label for="">Cidade</label>

                    <input type="hidden" name="state">
                    <select name="cidade" disabled="disabled" class="input-form" id="cidadePed">
                        <option value="0">Seleciona a Cidade</option>
                    </select>
                </div>
            </div>

            <h2 class="sub titulo">Alimentos</h2>
            <div class="alimentos-container">
                <div class="alimentos-wrapper column">
                    <div class="alimento row" id="0">
                        <div class="tipo-input">
                            <label>Tipo</label>
                            <select name="tpf" class="input-form tpf">
                                <option value="solido">Sólido</option>
                                <option value="liquido">Líquido</option>
                            </select>
                        </div>
                        <div class="alimento-input">
                            <label>Alimento</label>
                            <select name="alimentoInput" class="input-form alimentoInput">
                                {{#each produtos}}
                                <option value={{nm_produto}}>{{nm_produto}}</option>
                                {{/each}}
                            </select>
                        </div>
                
                        <div class="quantidade-input">
                            <label>Quantidade</label>
                            <input name="quantidade" class="input-form quantidade" type="number" min="1" />
                        </div>
                
                    <button style="opacity:0; cursor:default;" type="button" class="btn red excluir"><img src="/assets/img/trash.svg" alt="excluir"></button>
                    </div>
                
                </div>
                
                <button class="btn blue adicionar" type="button">
                    + Adicionar mais um alimento
                </button>
            </div>

            <h2 class="sub titulo">Dados finais</h2>

            <div class="texts column">
                <div class="column">
                    <label for="">Adicionar descrição da sua ação social</label>
                    <textarea id="descPed" class="input-form" name="descPed" id="" cols="30" rows="10"
                        placeholder="Insira a relevância por trás do seu pedido, descrevendo sua camapanha de combate à fome."></textarea>
                </div>

                <label for="">Adicionar imagem de capa</label>
                <input class="input-form imagePed" type="file" accept="image/*" name="picPed"/>
                

                <input class="btn blue" type="submit" value="Cadastrar pedido" />
                
            </div>
        </form>
    </div>
</main>

{{>footer}}

<script type="text/javascript">
    const foodWrapper = document.querySelector('.alimentos-wrapper');
    var idCount = 1;

    const btnAddFood = document.querySelector(".btn.adicionar");

    var food = document.querySelectorAll(".alimento.row");
    var tipfisico = document.querySelectorAll(".tpf");
    var medidaAl = document.querySelectorAll(".alMedida");

    //#region Filtro da medida com base no tipo selecionado 
    // // medidaSolido()
    // // medidaLiquido()



    // tipfisico.forEach(
    //     tipfisico => {
    //         medidaAl.forEach(
    //             medidaAl => {
    //                 tipfisico.addEventListener('change', event => {
    //                     for (i = 0; i < tipfisico.options.length; i++) {
    //                         medidaAl.remove(medidaAl.options[i])
    //                     };
    //                     medidaSolido()
    //                     medidaLiquido()
    //                 })
    //             }
    //         )
    //     }
    // )


    // function medidaSolido() {


    //     tipfisico.forEach(
    //         tipfisico => {
    //             medidaAl.forEach(
    //                 medidaAl => {
    //                     if (tipfisico.selectedIndex == 0) {

    //                         console.log
    //                         console.log(food)

    //                         const kg = document.createElement('option');
    //                         kg.value = 'KG';
    //                         kg.text = 'KG';
    //                         medidaAl.add(kg, medidaAl.options[0]);

    //                         const gramas = document.createElement('option');
    //                         gramas.value = 'G';
    //                         gramas.text = 'Gramas';
    //                         medidaAl.add(gramas, medidaAl.options[1])
    //                     }
    //                 }
    //             )
    //         }
    //     )


    // }

    // function medidaLiquido() {

    //     tipfisico.forEach(
    //         tipfisico => {
    //             medidaAl.forEach(
    //                 medidaAl => {
    //                     if (tipfisico.selectedIndex == 1) {

    //                         const litro = document.createElement('option');
    //                         litro.value = 'L';
    //                         litro.text = 'Litros';
    //                         medidaAl.add(litro, medidaAl.options[0]);

    //                         const ml = document.createElement('option');
    //                         ml.value = 'ML';
    //                         ml.text = 'ML';
    //                         medidaAl.add(ml, medidaAl.options[1])
    //                     }
    //                 }
    //             )
    //         }
    //     )
    // }

    //#endregion

    //#region  Botões Adicionar/Remover alimentos
    console.log(document.querySelector('.alimentos-wrapper'))

    btnAddFood.addEventListener('click', () => {
        foodWrapper.append(addFood())

        // var food = document.querySelectorAll(".alimento.row");
        // var tipfisico = document.querySelectorAll(".tpf");
        // var medidaAl = document.querySelectorAll(".alMedida");
        // medidaSolido()
        // medidaLiquido()
        // console.log(tipfisico.length)
    });


    function addFood() {

        //#region Select do Tipo
        var tipo = document.createElement("div");
        tipo.classList = ("tipo-input");

        var lblTipo = document.createElement("label");
        lblTipo.innerHTML = "Tipo";

        var slctTipo = document.createElement("select");
        slctTipo.classList = "input-form tpf";
        slctTipo.setAttribute('name', 'tpf');

        var optTipoS = document.createElement("option");
        optTipoS.innerHTML = "Sólido";
        optTipoS.setAttribute('value', 'solido');

        var optTipoL = document.createElement("option");
        optTipoL.innerHTML = "Líquido";
        optTipoL.setAttribute('value', 'liquido');

        slctTipo.append(optTipoS);
        slctTipo.append(optTipoL);
        tipo.append(lblTipo);
        tipo.append(slctTipo);

        //#endregion

        //#region Select do Alimento
        var alimento = document.createElement("div");
        alimento.classList.add("alimento-input");

        var lblAlimento = document.createElement("label");
        lblAlimento.innerHTML = "Alimento"

        var slctAlimento = document.createElement("select");
        slctAlimento.classList = "input-form alimentoInput"
        slctAlimento.setAttribute('name', 'alimentoInput')

        {{#each produtos}}
        var opt = document.createElement("option");
        opt.innerHTML = '{{nm_produto}}';
        opt.setAttribute('value', '{{nm_produto}}');
        slctAlimento.append(opt);
        {{/each}}


        alimento.append(lblAlimento);
        alimento.append(slctAlimento);
        //#endregion

        //#region Input da quantidade
        var qtd = document.createElement("div");
        qtd.classList = ("quantidade-input ");

        var lblQtd = document.createElement("label");
        lblQtd.innerHTML = "Quantidade"

        var txtQtd = document.createElement("input");
        txtQtd.classList = "input-form"
        txtQtd.setAttribute('type', 'number');
        txtQtd.setAttribute('min', '1');
        txtQtd.setAttribute('name', 'quantidade');

        qtd.append(lblQtd);
        qtd.append(txtQtd);
        //#endregion 

        //#region Input do Botão
        var btn = document.createElement("button");
        btn.classList.add("btn");
        btn.classList.add("red");
        btn.classList.add("excluir");
        btn.setAttribute("type", "button");
        btn.setAttribute("onclick", "delFood(this)");

        var imgBtn = document.createElement("img");
        imgBtn.setAttribute("src", "/assets/img/trash.svg");
        imgBtn.setAttribute("alt", "excluir");
        btn.append(imgBtn);
        //#endregion

        //#region Container alimentos 

        var alimentoContainer = document.createElement("div");
        alimentoContainer.classList = ("alimento row");

        alimentoContainer.append(tipo);
        alimentoContainer.append(alimento);
        alimentoContainer.append(qtd);
        alimentoContainer.append(btn);
        alimentoContainer.setAttribute("id", idCount);

        //#endregion

        idCount++;
        return alimentoContainer;
    }

    function delFood(btn) {
        var divId = btn.parentNode.id
        var toRemove = document.getElementById(divId);

        foodWrapper.removeChild(toRemove);
        idCount--;
    }

    // document.getElementById("imagePed").addEventListener('change', event => {
    //     console.log(document.getElementById('imagePed').files[0])
    // })
    // #endregion 
</script>

<script src="/js/estado-cidade.js"></script>