{{#section 'head'}}
    <title>Descobrir</title>
{{/section}}

{{>navbar}}

<main class="pg_descobrir">
    <div class="background">
        {{>msg}}
        <form class="filtro-pedidos column" action="/descobrir/filter" method="GET">
            <h1 class="titulo white">Insira o estado e a cidade</h1>
            <h2 class="sub titulo white">
                Encontre eventos de combate à fome perto de você
            </h2>
            <div class="row">
                <select name="estado" class="input-form" id="estadoPed">
                    <option value="0">Selecione o Estado</option>
                </select>
                <input type="hidden" name="state">
                <select name="cidade" class="input-form" id="cidadePed">
                    <option value="0">Seleciona a Cidade</option>
                </select>
                <button class="btn red" type="submit">Procurar</button>
            </div>
        </form>
    </div>
    <div class="pedidos-container column">
        {{#if titulo}}
            <h1 class="titulo black">{{titulo}}</h1>
        {{else}}
            <h1 class="titulo black">Campanhas mais recentes</h1>
        {{/if}}
        <div class="pedidos row">
            {{#each pedido}}
            <a class="pedido-link" href="/descobrir/pedido/{{cd_pedido}}">
                <div class="pedido">
                    <div class="imagem-pedido">
                        <img src="/assets/pedidos/{{cd_imagem_pedido}}" alt="">
                    </div>
                    <div class="informacoes-pedido column">
                        <div class="descricao-pedido">
                            <h1 class="titulo ped">
                                {{nm_titulo_pedido}}
                            </h1>

                            <div class="titulo-wrapper row">
                                <h1 class="sub titulo row master">Alimentos:
                                    <h2 class="sub titulo row titulo-link">
                                        {{#each this.comida}}
                                        {{this}} -
                                        {{/each}}
                                    </h2>
                                </h1>
                            </div>
                        </div>
                        <div class="progresso-container column">
                            <div class="porcentagem">
                                <div class="progresso-barra">
                                    <div class="progresso-atual progresso-atual-{{cd_pedido}}"></div>
                                </div>
                            </div>
                            <div class="arrecadado">
                                <p><span class="arrecadado-{{cd_pedido}}"></span>% arrecadado</p>
                            </div>
                        </div>
                        <div class="rodape-pedido">
                            <div class="row">
                                <div class="usuario row">
                                    <div class="img-wrapper">
                                        <img src="/assets/profile/{{cd_foto_usuario}}" alt="Foto do usuário" />
                                    </div>
                                    <div class="column">
                                        <h2 class="nomeUsuario">{{nm_usuario}}</h2>
                                        <p class="titulo-gray cidadeEstado">
                                            {{nm_cidade_usuario}}, {{sg_estado_usuario}}
                                        </p>
                                    </div>
                                </div>
                                <div class="column">
                                    <div>
                                        <img class="svg-pedido" src="/assets/img/icone_relogio.svg"
                                            alt="Icone relógio" />
                                        <p class="expiraEm">Expira em: {{dateRemaining}}</p>
                                    </div>
                                    <div>
                                        <img class="svg-pedido" src="/assets/img/icone_pin.svg" alt="Icone pin" />
                                        <p class="cidadeEstado">{{nm_cidade_pedido}}, {{sg_estado_pedido}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    {{#if pagsEach}}
    <div class="numeracao-paginas">
        <ul class="paginas">
        {{#each pagsEach}}
            <a href="/descobrir/pag/{{this}}">
                <li class="num cont-pagina">{{this}}</li>
            </a>
        {{/each}}
        </ul>
        <a href="">
            <div class="cont-pagina">Seguinte &#62;</div>
        </a>
    </div>
    {{else}}
    {{/if}}
</main>

{{>footer}}

<script src="/js/estado-cidade.js"></script>

<script type="text/javascript">
    {{#each pedido}}
    math = ({{qt_doacoes_pedido}}*100)/{{qt_total_pedido}};
    if(math >= 100){
        document.querySelector('.progresso-atual-{{cd_pedido}}').style.width = 100 + '%';
    }
    else{
        document.querySelector('.progresso-atual-{{cd_pedido}}').style.width = math + '%';
    }
    document.querySelectorAll('.arrecadado-{{cd_pedido}}')[0].innerText = Math.trunc(math);
    {{/each}}
</script>