<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS Donaro -->
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/descobrir.css" />
    <link rel="stylesheet" href="/css/pedido.css" />

    <title>Descobrir</title>
</head>

{{>navbar}}

<main>
    <div class="background">
        <form class="filtro-pedidos column" action="" method="">
            <h1 class="titulo white">Insira o estado e a cidade</h1>
            <h2 class="sub titulo white">
                Encontre eventos de combate à fome perto de você
            </h2>
            <div class="row">
                <select name="estado" class="input-form" id="estadoPed">
                    <option value="0">Selecione o Estado</option>
                </select>
                <input type="hidden" name="state">
                <select name="cidade" class="input-form" id="cidadePed">
                    <option value="0">Seleciona a Cidade</option>
                </select>
                <button class="btn red" type="submit">Procurar</button>
            </div>
        </form>
    </div>
    <div class="pedidos-container column">
        <h1 class="titulo black">Pedidos mais recentes</h1>
        <div class="pedidos row">
            {{#each pedido}}
            <a class="pedido-link" href="/descobrir/pedido/{{cd_pedido}}">
                <div class="pedido">
                    <div class="imagem-pedido">
                        <img src="/assets/pedidos/{{cd_imagem_pedido}}" alt="">
                    </div>
                    <div class="informacoes-pedido column">
                        <div class="descricao-pedido">
                            <h1 class="titulo ped">
                                {{nm_titulo_pedido}}
                            </h1>

                            <div class="titulo-wrapper row">
                                <h2 class="sub titulo row">
                                    Alimentos:
                                    {{#each this.comida}}
                                    <span class="titulo-link row">{{this}} </span>
                                    {{/each}}
                                </h2>
                            </div>
                        </div>
                        <div class="progresso-container column">
                            <div class="porcentagem">
                                <div class="progresso-barra">
                                    <div class="progresso-atual"></div>
                                </div>
                            </div>
                            <div class="arrecadado">
                                <p><span>54</span>% arrecadado</p>
                            </div>
                        </div>
                        <div class="rodape-pedido">
                            <div class="row">
                                <div class="usuario row">
                                    <div class="img-wrapper">
                                        <img src="/assets/profile/{{cd_foto_usuario}}" alt="Foto do usuário" />
                                    </div>
                                    <div class="column">
                                        <h2 class="">{{nm_usuario}}</h2>
                                        <p class="titulo-gray">
                                            {{nm_cidade_usuario}}, {{sg_estado_usuario}}
                                        </p>
                                    </div>
                                </div>
                                <div class="column">
                                    <div>
                                        <img class="svg-pedido" src="/assets/img/icone_relogio.svg"
                                            alt="Icone relógio" />
                                        <p>Expira em: 10 dias</p>
                                    </div>
                                    <div>
                                        <img class="svg-pedido" src="/assets/img/icone_pin.svg" alt="Icone pin" />
                                        <p>{{nm_cidade_pedido}}, {{sg_estado_pedido}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    <div class="numeracao-paginas">
        <ul class="paginas">
            <a href="">
                <li class="num cont-pagina">1</li>
            </a>
            <a href="">
                <li class="num cont-pagina">2</li>
            </a>
            <a href="">
                <li class="num cont-pagina">3</li>
            </a>
            <a href="">
                <li class="num cont-pagina">4</li>
            </a>
            <a href="">
                <li class="num cont-pagina">5</li>
            </a>
            <a href="">
                <li class="num cont-pagina">6</li>
            </a>
        </ul>
        <a href="">
            <div class="cont-pagina">Seguinte &#62;</div>
        </a>
    </div>
</main>

<footer class="footer-bar">
    <img class="logo-footer" src="/assets/img/Donaro_Logo_White.svg" alt="Logo Donaro" />
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ações sociais</h2>
        <a href="#">
            <li class="list-item">Criar</li>
        </a>
        <a href="#">
            <li class="list-item">Fazer doação</li>
        </a>
        <a href="#">
            <li class="list-item">Descobrir</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Ajuda</h2>
        <a href="#">
            <li class="list-item">Fale conosco</li>
        </a>
        <a href="#">
            <li class="list-item">Dúvidas frequentes</li>
        </a>
        <a href="#">
            <li class="list-item">Atualizações</li>
        </a>
    </ul>
    <ul class="menu-footer">
        <h2 class="sub titulo white">Acompanhe nossas redes sociais</h2>
        <div class="redes-sociais">
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-facebook.svg" alt="icone Facebook" />
            </a>
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-instagram.svg" alt="icone Instagram" />
            </a>
            <a href="#">
                <img class="icone-midias" src="/assets/img/logo-twitter.svg" alt="icone Twitter" />
            </a>
        </div>
    </ul>
</footer>

<script src="/js/estado-cidade.js"></script>