{{#section 'head'}}
    <title>Editar informações da campanha</title>
{{/section}}

{{>navbar}}
    <main class="lyt_forms pg_cadastro-pedido editar">
        <div class="form-container column">
            {{#each erros}}
            <div class="form-error">
                <h2 class="sub titulo">{{text}}</h2>
            </div>
            {{/each}} 

            <h1 class="titulo">Editar informações da campanha</h1>
            <form
                class="form-login column"
                id="formPedido"
                method="POST"
                enctype="multipart/form-data"
            >
                <div class="dados-iniciais row">
                    <div>
                        <label for="">Título</label>
                        <input
                            class="input-form"
                            type="text"
                            name="titulo"
                            id="titId"
                            maxlength="30"
                            value="{{pedido.[0].nm_titulo_pedido}}"
                        />
                    </div>
                </div>

                <div class="texts column">
                    <div class="column">
                        <label for="">Descrição</label>
                        <textarea
                            id="descPed"
                            class="input-form editDesc"
                            name="descPed"
                            cols="30"
                            rows="10"
                            placeholder="Insira a relevância por trás da sua campanha, descrevendo-a com detalhes."
                        >{{pedido.[0].ds_acao_pedido}}</textarea
                        >
                    </div>

                    <label for="">Imagem de capa</label>

                    <div class="imagePerfil column" style="background-image: url('/assets/pedidos/{{pedido.[0].cd_imagem_pedido}}');">
                        <img
                            src="/assets/pedidos/{{pedido.[0].cd_imagem_pedido}}"
                            alt="Foto da campanha"
                            class="imgUser"
                        />
                        <div class="column changeImg">
                            <input
                                class="input-form editImg"
                                type="file"
                                accept="image/*"
                                name="campImg"
                            />
                        </div>
                    </div>

                    <input
                        class="btn blue"
                        type="submit"
                        value="Salvar alterações"
                    />
                </div>
            </form>
        </div>
    </main>
