{{#section 'head'}}
    <title>{{pedido.[0].nm_titulo_pedido}}</title>
{{/section}}

{{>navbar}}

<main class="pg_pedido">
    <div class="container-pedido column">
        {{#each pedido}}
        <h1 class="titulo black">{{nm_titulo_pedido}}</h1>
        <div class="subcontainer-pedido row">
            <div class="container-descricao">
                <div class="container-img">
                    <img src="/assets/pedidos/{{cd_imagem_pedido}}" alt="" />
                </div>
                <div class="descricao">
                    <h1 class="sub titulo black">Descrição</h1>
                    <p>
                        {{ds_acao_pedido}}
                    </p>

                    <div class="denunciar">
                        <a class="row" href="{{cd_pedido}}/denuncia">
                            <img src="/assets/img/icone_denounce_black.svg" alt="Denunciar">
                            <span>Denunciar campanha</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-alimentos column">
                <header class="header-alimentos row">
                    <div class="usuario row">
                        <div class="img-wrapper">
                            <img src="/assets/profile/{{cd_foto_usuario}}" alt="Foto do usuário" />
                        </div>
                        <div>
                            <h2 class="">{{nm_usuario}}</h2>
                            <p class="titulo-gray cidadeEstado">{{nm_cidade_usuario}}, {{sg_estado_usuario}}</p>
                        </div>
                    </div>
                    <div class="header-pedido">
                        <div>
                            <img src="/assets/img/icone_pin.svg" alt="Icone pin" />
                            <p class="cidadeEstado">{{nm_cidade_pedido}}, {{sg_estado_pedido}}</p>
                        </div>

                        <div>
                            <img src="/assets/img/icone_relogio.svg" alt="Icone relógio" />
                            <p>Expira em: {{dateRemaining}}</p>
                        </div>
                    </div>
                </header>
                {{/each}}
                <div class="main-alimentos column">
                    <h2 class="titulo black">Alimentos:</h2>
                    <div class="alimento-container column">
                        {{#each alimento}}
                        <div class="alimento column">
                            <h2 class="sub titulo">{{nm_alimento}}</h2>
                            <div class="progresso-container row">
                                <div class="arrecadado">
                                    <p><span class="arrecadado-{{replaceSpace nm_alimento}}"></span>%</p>
                                </div>
                                <div class="porcentagem">
                                    <div class="progresso-barra">
                                        <div class="progresso-atual progresso-atual-{{replaceSpace nm_alimento}}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="meta row">
                                <p>Arrecadado: {{qt_doada_alimento}} {{nm_medida_alimento}}</p>
                                <p>Meta: {{qt_alimento}} {{nm_medida_alimento}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{#if identify}}
                    <a href="#"><button class="btn blue">Editar</button></a>
                    {{else}}
                    {{#each pedido}}
                    <a href="/descobrir/pedido/{{cd_pedido}}/ajudar"><button class="btn blue">Doar</button></a>
                    {{/each}}
                    {{/if}}

                </div>
                <footer class="footer-alimentos column">
                    <h2 class="sub titulo">
                        Compartilhe nas redes sociais:
                    </h2>
                    <div class="redes-sociais row">
                        <a href="#">
                            <img src="/assets/img/icone_blue-facebook.svg" alt="Compartilhe no Facebook" />
                        </a>
                        <a href="#">
                            <img src="/assets/img/icone_blue-whats.svg" alt="Compartilhe no WhatsApp" />
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</main>

{{>footer}}

<script type="text/javascript">
    {{#each alimento}}
    math = ({{qt_doada_alimento}}*100)/{{qt_alimento}};
    if(math >= 100){
        document.querySelector('.progresso-atual-{{replaceSpace nm_alimento}}').style.width = 100 + '%';
    }
    else{
        document.querySelector('.progresso-atual-{{replaceSpace nm_alimento}}').style.width = math + '%';
    }
    document.querySelectorAll('.arrecadado-{{replaceSpace nm_alimento}}')[0].innerText = Math.trunc(math);
    {{/each}}
</script>