{{#section 'head'}}
    <title>Chat</title>
{{/section}}

{{>navbar}}

<body>
    <main class="pg_chat">
        <div class="chat-container">
            {{!--  Container de conversas  --}}
            <div class="conversas-container">
            
            {{!--  Menu de conversas  --}}
                <div class="menu-conversas row">
                    <div class="m-campanhas row">
                        <input type="radio" name="conversas" id="camp" value="mCampanhas" checked="true">
                        <label for="camp">Minhas campanhas</label>
                    </div>
                    <div class="m-doacoes row">
                        <input type="radio" name="conversas" id="doa" value="mDoacoes">
                        <label for="doa">Minhas doações</label>
                    </div>
                </div>

                {{!--  Coluna de conversas  --}}
                <div class="conversas column">
                    <div class="msgsContainer camp">
                        {{#if chatCampanhas}}
                        {{#each chatCampanhas}}
                        <a href="/chat/{{cd_solicitacao_chat}}">
                            <div class="row conversa chat-{{cd_solicitacao_chat}}">
                                {{!--  Imagem  --}}
                                <div class="conversa-img">
                                    <div class="img-wrapper">
                                        <img
                                            src="/assets/profile/{{cd_foto_usuario}}"
                                            alt="Imagem usuário"
                                        />
                                    </div>
                                </div>
                    
                                {{!--  Infos da conversa  --}}
                                <div class="conversa-info">
                                    {{!--  Nome e horário  --}}
                                    <div class="row row1">
                                        <p class="titulo black nome-conversa">
                                            {{nm_usuario}}
                                        </p>
                                    </div>
                    
                                    {{!--  Última mensagem e número de notificações  --}}
                                    <div class="row row2 read-{{cd_chat}}">
                                        <p class="ultimas-msg">
                                            Campanha: {{nm_titulo_pedido}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {{/each}}
                        {{else}}
                        <h1>Não há nada por aqui</h1>
                        {{/if}}
                    </div>

                    <div class="msgsContainer doa">
                        {{#if chatSolicitacoes}}
                        {{#each chatSolicitacoes}}
                        <a href="/chat/{{cd_solicitacao}}">
                            <div class="row conversa chat-{{cd_solicitacao_chat}}">
                                {{!--  Imagem  --}}
                                <div class="conversa-img">
                                    <div class="img-wrapper">
                                        <img
                                            src="/assets/pedidos/{{cd_imagem_pedido}}"
                                            alt="Imagem pedido"
                                        />
                                    </div>
                                </div>
                    
                                {{!--  Infos da conversa  --}}
                                <div class="conversa-info">
                                    {{!--  Nome e horário  --}}
                                    <div class="row row1">
                                        <p class="titulo black nome-conversa">
                                            {{nm_titulo_pedido}}
                                        </p>
                                    {{!--  <p class="titulo-gray horario">18:25</p>  --}}
                                    </div>
                    
                                    {{!--  Última mensagem e número de notificações  --}}
                                    <div class="row row2 read-{{cd_chat}}">
                                        <p class="ultimas-msg">
                                            Dono: {{nm_usuario}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {{/each}}
                        {{else}}
                        <h1>Não há nada por aqui</h1>
                        {{/if}}
                    </div>
                </div>
            </div>

            {{!--  Container do Chat   --}}
            <div class="chat">
                <div class="chat-header row">
                    {{#if userPedido}}
                    {{#each userPedido}}
                    <div class="img-wrapper">
                        <img
                            src="/assets/pedidos/{{cd_imagem_pedido}}"
                            alt="Imagem usuário"
                        />
                    </div>
                     <p class="titulo-black nome-conversa row">
                        {{nm_titulo_pedido}}
                        <span class="nmPedido"> • Dono: {{nm_usuario}}</span>
                    </p>

                    <div class="menu">
                        <div class="v-menu">
                            <ul>
                                <li class="toggle-link">
                                    <a href="usuario/{{cd_usuario}}/denuncia" class="sub titulo row">
                                        Denunciar usuário 
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="i-menu">
                            <div class="wrapper-menu row">
                                <img src="/assets/img/icone_reticencias.svg" alt="Abrir Menu">
                            </div>
                            <div class="toggle-menu denuncia">
                                 <ul>
                                     <li class="toggle-link">
                                        <a href="usuario/{{cd_usuario}}/denuncia" class="sub titulo row">
                                            Denunciar usuário 
                                        </a>
                                     </li>
                                 </ul>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                    {{/if}}
                    {{#if userSoli}}
                    {{#each userSoli}}
                    <div class="img-wrapper">
                        <img
                            src="/assets/profile/{{cd_foto_usuario}}"
                            alt="Imagem usuário"
                        />
                    </div>
                     <p class="titulo-black nome-conversa row">
                        {{nm_usuario}}  
                        <span class="nmPedido"> • {{nm_titulo_pedido}}</span>
                    </p>
                      <div class="menu">
                        <div class="v-menu">
                            <ul>
                                <li class="toggle-link">
                                    <a href="usuario/{{cd_usuario}}/denuncia" class="sub titulo row">
                                        Denunciar usuário 
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="i-menu">
                            <div class="wrapper-menu row">
                                <img src="/assets/img/icone_reticencias.svg" alt="Abrir Menu">
                            </div>
                            <div class="toggle-menu denuncia">
                                 <ul>
                                     <li class="toggle-link">
                                        <a href="usuario/{{cd_usuario}}/denuncia" class="sub titulo row">
                                            Denunciar usuário 
                                        </a>
                                     </li>
                                 </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>

                <div class="chat-content">
                    {{!--  Mensagem enviada  --}}
                    {{#each mensagem}}
                    <div class="message-row {{cd_usuario_mensagem}} row">
                        <div class="mensagem row">
                            <span class="message-txt">{{ds_conteudo_mensagem}}</span>
                            <div class="message-info row">
                                <div>
                                    <span class="titulo-gray time-msg">
                                    {{onlyHour dt_time_mensagem}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <div class="chat-footer ">
                    <form class="send-message row" action="" id="chatForm">
                        <input
                            class="input-form"
                            type="text"
                            name="mensagem"
                            id="txt-mensagem"
                            placeholder="Digite sua mensagem"
                            autocomplete="off",
                            maxlength="200"
                        />
                        <input class="btn blue" type="submit" value="Enviar" />
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
<script>
    const openMenu = document.querySelector(".wrapper-menu");
    const denunciaMenu = document.querySelector(".toggle-menu.denuncia");
    const containerConversasCamp = document.querySelector(".msgsContainer.camp");
    const containerConversasDoa = document.querySelector(".msgsContainer.doa");
    var radios = document.querySelectorAll("input[type='radio'][name='conversas']")

    {{#if userPedido}}
    document.getElementById("doa").checked = true;
    containerConversasDoa.classList.add("visible");
    containerConversasCamp.classList.remove("visible");
    {{else}}
    containerConversasCamp.classList.add("visible")
    containerConversasDoa.classList.remove("visible")
    {{/if}}

    let idChat = location.href.split('/')[4];
    document.querySelector(`.chat-${idChat}`).classList.add("selected");

    radios.forEach(function(radio, index){
        radio.addEventListener('click', () => {
            if (radio.id == "camp"){
                containerConversasCamp.classList.add("visible")
                containerConversasDoa.classList.remove("visible")
            } else if (radio.id == "doa"){
                containerConversasDoa.classList.add("visible")
                containerConversasCamp.classList.remove("visible")
            } 
        })
    })

     openMenu.addEventListener('click', () => {
        if (denunciaMenu.classList.contains('visible')) {
            denunciaMenu.classList.remove('visible')
        } else {
            denunciaMenu.classList.add('visible')
        }
    })



</script>