{{#section 'head'}}
    <title>Chat</title>
{{/section}}

{{>navbar}}

<body>
    <main class="pg_chat">
        {{>msg}}
        <div class="chat-container">
            <!-- Container de conversas -->
            <div class="conversas-container">
                <!-- Barra de pesquisa -->
                <form class="pesquisa">
                    <button type="submit">
                        <img
                            src="/assets/img/icone_lupa.svg"
                            alt="Icone lupa"
                        />
                    </button>
                    <input
                        class="input-form"
                        type="text"
                        name="txtPesquisa"
                        placeholder="Procurar mensagens"
                    />
                </form>

                <!-- Coluna de conversas -->
                <div class="conversas column">
                    <div class="containerMsgs mC">
                        <div class="tituloContainer camp row">
                            <h1 class="titulo-conversas camp">Conversas - Minhas campanhas </h1>
                            <img class="toggleTitulo" src="/assets/img/icone_arrow.svg" alt="">
                        </div>
                        
                        <div class="msgsContainer">
                            {{#if chatCampanhas}}
                            {{#each chatCampanhas}}
                            <a href="/chat/{{cd_solicitacao_chat}}" class="chat-{{cd_chat}}">
                                <div class="row conversa">
                                    <!-- Imagem -->
                                    <div class="conversa-img">
                                        <div class="img-wrapper">
                                            <img
                                                src="/assets/profile/{{cd_foto_usuario}}"
                                                alt="Imagem usuário"
                                            />
                                        </div>
                                    </div>
                        
                                    <!-- Infos da conversa -->
                                    <div class="conversa-info">
                                        <!-- Nome e horário -->
                                        <div class="row row1">
                                            <p class="titulo black nome-conversa">
                                                {{nm_usuario}}
                                            </p>
                                        </div>
                        
                                        <!-- Última mensagem e número de notificações -->
                                        <div class="row row2 read-{{cd_chat}}">
                                            <p class="ultimas-msg">
                                                Campanha: {{nm_titulo_pedido}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {{/each}}
                            {{else}}
                            <h1>Não há nada por aqui</h1>
                            {{/if}}
                        </div>
                    </div>

                    <div class="containerMsgs sL">
                        <div class="tituloContainer soli row">
                            <h1 class="titulo-conversas soli">Conversas - Minhas doações</h1>
                            <img class="toggleTitulo soli" src="/assets/img/icone_arrow.svg" alt="">
                        </div>
                        <div class="msgsContainer">
                            {{#if chatSolicitacoes}}
                            {{#each chatSolicitacoes}}
                            <a href="/chat/{{cd_solicitacao}}" class="chat-{{cd_chat}}">
                                <div class="row conversa">
                                    <!-- Imagem -->
                                    <div class="conversa-img">
                                        <div class="img-wrapper">
                                            <img
                                                src="/assets/pedidos/{{cd_imagem_pedido}}"
                                                alt="Imagem pedido"
                                            />
                                        </div>
                                    </div>
                        
                                    <!-- Infos da conversa -->
                                    <div class="conversa-info">
                                        <!-- Nome e horário -->
                                        <div class="row row1">
                                            <p class="titulo black nome-conversa">
                                                {{nm_titulo_pedido}}
                                            </p>
                                        <!-- <p class="titulo-gray horario">18:25</p> -->
                                        </div>
                        
                                        <!-- Última mensagem e número de notificações -->
                                        <div class="row row2 read-{{cd_chat}}">
                                            <p class="ultimas-msg">
                                                Dono: {{nm_usuario}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {{/each}}
                            {{else}}
                            <h1>Não há nada por aqui</h1>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Container do Chat  -->
            <div class="chat">
                <div class="svg-mensagem column">
                    <img
                        src="/assets/img/illustrate_new-message.svg"
                        alt=""
                    />
                    <h1 class="titulo">Inicie uma conversa</h1>
                </div>
            </div>
        </div>
    </main>
</body>

<script>
    var containerMaster = document.querySelectorAll(".containerMsgs");
    var toggleTitulos = document.querySelectorAll(".toggleTitulo");

    toggleTitulos.forEach(function(value, index){
        toggleTitulos[index].addEventListener('click', () => {
            if(containerMaster[index].classList.contains('toggled')){
                containerMaster[index].classList.remove('toggled')
            } else{
                containerMaster[index].classList.add('toggled')
            }
        })
    })

</script>