{{#section 'head'}}
    <title>Chat</title>
{{/section}}

{{>navbar}}

<body>
    <main class="pg_chat">
        {{>msg}}
        <div class="chat-container">
            {{!--  Container de conversas  --}}
            <div class="conversas-container">
            
            {{!--  Menu de conversas  --}}
                <div class="menu-conversas row">
                    <div class="m-campanhas row">
                        <input type="radio" name="conversas" id="camp" value="mCampanhas" checked="true">
                        <label for="camp">Minhas campanhas</label>
                    </div>
                    <div class="m-doacoes row">
                        <input type="radio" name="conversas" id="doa" value="mDoacoes">
                        <label for="doa">Minhas doações</label>
                    </div>
                </div>

                {{!--  Coluna de conversas  --}}
                <div class="conversas column">
                    <div class="msgsContainer camp">
                        {{#if chatCampanhas}}
                        {{#each chatCampanhas}}
                        <a href="/chat/{{cd_solicitacao_chat}}" class="chat-{{cd_chat}}">
                            <div class="row conversa">
                                {{!--  Imagem  --}}
                                <div class="conversa-img">
                                    <div class="img-wrapper">
                                        <img
                                            src="/assets/profile/{{cd_foto_usuario}}"
                                            alt="Imagem usuário"
                                        />
                                    </div>
                                </div>
                    
                                {{!--  Infos da conversa  --}}
                                <div class="conversa-info">
                                    {{!--  Nome e horário  --}}
                                    <div class="row row1">
                                        <p class="titulo black nome-conversa">
                                            {{nm_usuario}}
                                        </p>
                                    </div>
                    
                                    {{!--  Última mensagem e número de notificações  --}}
                                    <div class="row row2 read-{{cd_chat}}">
                                        <p class="ultimas-msg">
                                            Campanha: {{nm_titulo_pedido}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {{/each}}
                        {{else}}
                        <h1>Não há nada por aqui</h1>
                        {{/if}}
                    </div>

                    <div class="msgsContainer doa">
                        {{#if chatSolicitacoes}}
                        {{#each chatSolicitacoes}}
                        <a href="/chat/{{cd_solicitacao}}" class="chat-{{cd_chat}}">
                            <div class="row conversa">
                                {{!--  Imagem  --}}
                                <div class="conversa-img">
                                    <div class="img-wrapper">
                                        <img
                                            src="/assets/pedidos/{{cd_imagem_pedido}}"
                                            alt="Imagem pedido"
                                        />
                                    </div>
                                </div>
                    
                                {{!--  Infos da conversa  --}}
                                <div class="conversa-info">
                                    {{!--  Nome e horário  --}}
                                    <div class="row row1">
                                        <p class="titulo black nome-conversa">
                                            {{nm_titulo_pedido}}
                                        </p>
                                    {{!--  <p class="titulo-gray horario">18:25</p>  --}}
                                    </div>
                    
                                    {{!--  Última mensagem e número de notificações  --}}
                                    <div class="row row2 read-{{cd_chat}}">
                                        <p class="ultimas-msg">
                                            Dono: {{nm_usuario}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {{/each}}
                        {{else}}
                        <h1>Não há nada por aqui</h1>
                        {{/if}}
                    </div>
                </div>
            </div>

            {{!--  Container do Chat   --}}
            <div class="chat">
                <div class="svg-mensagem column">
                    <img
                        src="/assets/img/illustrate_new-message.svg"
                        alt=""
                    />
                    <h1 class="titulo">Inicie uma conversa</h1>
                </div>
            </div>
        </div>
    </main>
</body>

<script>
    const containerConversasCamp = document.querySelector(".msgsContainer.camp");
    const containerConversasDoa = document.querySelector(".msgsContainer.doa");
    var radios = document.querySelectorAll("input[type='radio'][name='conversas']")

    containerConversasCamp.classList.add("visible")
    containerConversasDoa.classList.remove("visible")


    radios.forEach(function(radio, index){
        radio.addEventListener('click', () => {
            if (radio.id == "camp"){
                containerConversasCamp.classList.add("visible")
                containerConversasDoa.classList.remove("visible")
            } else if (radio.id == "doa"){
                containerConversasDoa.classList.add("visible")
                containerConversasCamp.classList.remove("visible")
            } 
        })
    })




</script>