{{#section 'head'}}
    <title>Denúncias (Campanhas)</title>
{{/section}}

{{>navbar}}

<main class="lyt_painel lyt_notificacoes pg_dpedidos">
     {{!-- Painel --}} 
    {{> painelAdm navCampanha="true" }}
    
    {{>msg}}

     {{!-- Cards --}} 
    <div class="cards-container">
         {{!-- Card --}} 
        {{#each campanhas}}
            <a href="/admin/denuncias/campanhas/{{cd_denuncia}}">
                <div class="card row">
                    {{!-- Informações --}} 
                    <div class="card-user row">
                        <div class="card-image">
                            <img
                                class="image-card"
                                src="/assets/pedidos/{{cd_imagem_pedido}}"
                                alt=""
                            />
                        </div>
                        <div class="card-info column">
                            <h1 class="nome-card">{{nm_titulo_pedido}}</h1>
                            <h2 class="desc-card">
                                Motivo:
                                <strong>{{nm_motivo_denuncia}}</strong>
                            </h2>
                        </div>
                    </div>

                    {{!-- Btn --}} 
                    <div class="card-btn column">
                        <div class="date row">
                            Enviado em: 
                            <span class="date-time">{{formatDate dt_createdAt_denuncia}}</span>
                        </div>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</main>
