{{#section 'head'}}
    <title>Denúncia Campanha</title>
{{/section}}

{{>navbar}}

<main class="lyt_painel lyt_usuario-pedido pg_dpedido denuncia">
    
    {{!-- Painel --}} 
    {{> painelAdm navCampanha="true" }}

    {{!-- Informações da denúncia --}} 
    <div class="profile-container denuncia columm">
       {{!-- Título e status --}}
        <div class="titulo-denuncia row">
            <h1>Informações da denúncia</h1>
            <div class="status {{#if (resolvidoOrPendente denuncia.[0].nm_situacao_denuncia)}}
            resolvido{{else}}pendente{{/if}} row">
                <div class="ball"></div>
                <p>{{denuncia.[0].nm_situacao_denuncia}}</p>
            </div>

            <div class="toggle-arrow">
                <img  src="/assets/img/icone_arrow.svg" alt="">
            </div>
        </div>

        <div class="infos-denuncia-container row invisible">
            
            {{!-- Imagem --}}
            <div class="infos start row">
                <div class="img-wrapper">
                    <img src="/assets/profile/{{denuncia.[0].cd_foto_usuario}}" alt="">
                </div>
            </div>
            
            {{!-- Informações --}}
            <div class="infos main row">
                <div class="infos-denuncia column">
                    {{!-- Nome e email --}}
                    <div class="column container">
                        <div class="row">
                            {{!-- Nome --}}
                            <div class="info column">
                                <h1>Dono da denúncia</h1>
                                <p>{{denuncia.[0].nm_usuario}}</p>
                            </div>

                            {{!-- Email --}}
                            <div class="info column">
                                <h1>Email </h1>
                                <p>{{denuncia.[0].cd_email_usuario}}</p>
                            </div>
                        </div>
                    </div>

                    {{!-- Motivo e data --}}
                    <div class="column container">
                        <div class="row">
                            {{!-- Motivo --}}
                            <div class="info column">
                                <h1>Motivo da denuncia</h1>
                                <p>{{denuncia.[0].nm_motivo_denuncia}}</p>
                            </div>

                            {{!-- Data --}}
                            <div class="info column">
                                <h1>Data da denúncia</h1>
                                <p>{{formatDate denuncia.[0].dt_createdAt_denuncia}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Detalhes --}}
            <div class="infos final row">
               <div class="infos-denuncia">
                    <div class="info column">
                        <h1>Detalhes da denúncia</h1>

                        <div class="detalhes">
                            <p>
                                {{denuncia.[0].ds_descricao_denuncia}}
                            </p>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        
    </div>

    {{!-- Informações da campanha denunciada --}} 
    <div class="profile-container denuncia columm">
        <div class="titulo-denuncia row">
            <h1>Informações da campanha denunciada</h1>

            <div class="toggle-arrow">
                <img  src="/assets/img/icone_arrow.svg" alt="">
            </div>
        </div>

        <div class="infos-denuncia-container row">
            {{!-- Imagem --}}
            <div class="infos start row">
                <div class="img-wrapper">
                    <img src="/assets/pedidos/{{denuncia.[0].cd_imagem_pedido}}" alt="">
                </div>
            </div>
            
            {{!-- Informações --}}
            <div class="infos main row">
                <div class="infos-denuncia column">
                    {{!-- Nome e ID (campanha) --}}
                    <div class="column container">
                        <div class="row">

                            {{!-- Nome --}}
                            <div class="info column">
                                <h1>Nome da campanha</h1>
                                <p>{{denuncia.[0].nm_titulo_pedido}}</p>
                            </div>

                            {{!-- ID --}}
                            <div class="info column">
                                <h1>ID da campanha </h1>
                                <p>{{denuncia.[0].cd_pedido}}</p>
                            </div>
                        </div>
                    </div>

                    {{!-- Nome e email (dono da campanha) --}}
                    <div class="column container">
                        <div class="row">

                            {{!-- ID --}}
                            <div class="info column">
                                <h1>Nome do criador</h1>
                                <p>{{denunciado.[0].nm_usuario}}</p>
                            </div>

                            {{!-- Telefone --}}
                            <div class="info column">
                                <h1>Email do criador </h1>
                                <p>{{denunciado.[0].cd_email_usuario}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {{!-- Número de advertências recebidas --}}
            <div class="infos final row">
               <div class="infos-denuncia">
                    <div class="advertencias column">
                        <h2>O dono da campanha já recebeu</h2>
                        <h1>{{denunciado.[0].qt_advertencias_usuario}} advertência(s)</h1>
                    </div>
               </div>
            </div>
        </div>
        
    </div>


    {{!--  Botões  --}}
    {{#unless (resolvidoOrPendente denuncia.[0].nm_situacao_denuncia)}}
    <div class="botoes-wrapper column">
        <form method="POST">
            <div class="botoes row">
        
                <button class="btn blue" type="submit" name="resp" value="invalidar"> Invalidar </button>
                <button class="btn red" type="submit" name="resp" value="delete"> Excluir campanha </button>
        
                <div class="punicoes">
                    <div class="punir row">
                        <button class="btn ghost-red punir" type="button">
                            Punir usuário <img src="/assets/img/icone_arrow_red.svg" alt="">
                        </button>
                    </div>
        
                    <div class="toggle-menu punicoes column">
                        <button class="btn ghost-red" type="submit" name="resp" value="adv">Enviar advertência</button>
                        <button class="btn red" type="submit" name="resp" value="account">Desativar conta</button>
                    </div>
                </div>
        
            </div>
        </form>
    </div>
    {{else}}
    {{/unless}}
    
</main>

<script src="/js/denuncias.js">
</script>


