{{#section 'head'}}
    <title>Denúncias (Usuários)</title>
{{/section}}

    {{>navbar}}

<main class="lyt_painel lyt_notificacoes pg_dusuarios">
    {{!-- Painel --}} 
    {{> painelAdm navUsuario="true" }}
    {{>msg}}
     {{!-- Cards --}} 
    <div class="cards-container">
         {{!-- Card --}} 
        {{#each denuncias}}
            <a href="/admin/denuncias/usuarios/{{cd_denuncia}}">
                <div class="card row">
                    {{!-- Informações --}} 
                    <div class="card-user row">
                        <div class="card-image">
                            <img
                                class="image-card"
                                src="/assets/profile/{{cd_foto_usuario}}"
                                alt=""
                            />
                        </div>
                        <div class="card-info column">
                            <h1 class="nome-card">{{nm_usuario}}</h1>
                            <h2 class="desc-card">
                                Motivo:
                                <strong>{{nm_motivo_denuncia}}</strong>
                            </h2>
                        </div>
                    </div>

                    {{!-- Btn --}} 
                    <div class="card-btn column">
                        <div class="date row">
                            Enviado em: 
                            <span class="date-time">{{formatDate dt_createdAt_denuncia}}</span>
                        </div>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</main>
