<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS Donaro -->
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/painel.css" />
    <link rel="stylesheet" href="/css/usuario-pedido.css" />

    <title>Requisição</title>
</head>

{{>navbar}}

<main>
    <div class="container-painel">
        <div class="background-painel">
            <h1 class="painel-titulo">ADM</h1>
            <div class="img-wrapper">
                <img src="/assets/img/background_adm.png" alt="" />
            </div>
        </div>

        <div class="menu-painel">
            <ul class="menu-painel-buttons row">
                <a href="#">
                    <li class="painel-text active">Requisições</li>
                </a>
                <a href="#">
                    <li class="painel-text">Denúncias</li>
                </a>
                <a href="#">
                    <li class="painel-text">Pedidos não entregues</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="profile-container columm">
        <div class="user-container column">
            {{#each pedido}}
            <h1 class="titulo-user">Pedido</h1>
            <div class="user-wrapper row">
                <div class="imagePerfil column">
                    <img src="/assets/pedidos/{{cd_imagem_pedido}}" alt="Foto de perfil" />
                </div>
                <div class="informacoes column">
                    <div>
                        <h1 class="sub titulo-user">Título</h1>
                        <p>{{nm_titulo_pedido}}</p>
                    </div>

                    <div class="row">
                        <div>
                            <h1 class="sub titulo-user">Meta</h1>
                            <p>{{nm_meta_pedido}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h1 class="sub titulo-user">
                                Data de encerramento
                            </h1>
                            <p>{{dateNoHour dt_encerramento_pedido}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="alimento-container">
            <div class="head row">
                <h1>Alimentos</h1>
                <h1>Quantidade</h1>
            </div>
            <div class="alReq-container column">
                {{#each alimento}}
                <div class="alReq row">
                    <h1 class="reqAlimento">{{nm_alimento}}</h1>
                    <h1 class="reqQuantidade">{{qt_alimento}} {{nm_medida_alimento}}</h1>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="comentario-container column">
            {{#each pedido}}
            <h1 class="sub titulo-user">Descrição</h1>
            <div class="comentario">
                <p>
                    {{ds_acao_pedido}}
                </p>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="profile-container columm">
        {{#each usuario}}
        <div class="user-container column">
            <h1 class="titulo-user">Usuário</h1>
            <div class="user-wrapper row">
                <div class="imagePerfil column">
                    <img src="/assets/profile/{{cd_foto_usuario}}" alt="Foto de perfil" />
                </div>
                <div class="informacoes column">
                    <div>
                        <h1 class="sub titulo-user">Nome</h1>
                        <p>{{nm_usuario}}</p>
                    </div>

                    <div>
                        <div>
                            <h1 class="sub titulo-user">Email</h1>
                            <p>{{cd_email_usuario}}</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1 class="sub titulo-user">ID</h1>
                            <p>{{cd_usuario}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="botoes row">
        <form action="/admin/accept" method="POST">
            {{#each pedido}}
            <input type="hidden" name="idPedido" value="{{cd_pedido}}">
            {{/each}}
            <button class="btn green" type="submit" value="aceito">Aceitar</button>
        </form>
        <form action="/admin/recused" method="POST">
            {{#each pedido}}
            <input type="hidden" name="idPedido" value="{{cd_pedido}}">
            {{/each}}
            <button class="btn ghost-red" type="submit" value="recusado">Recusar</button>
        </form>
    </div>
</main>