<header>
    <nav class="nav-bar">
        <a href="/" class="nav-logo">
            <img src="/assets/img/donaro_logo.svg" class="logo" alt="Logo Donaro" />
        </a>
        <div class="nav-menu">
            <ul class="row nav-list">
                {{#if admin}}
                {{else}}
                 <a href="/descobrir" class="nav-link">
                    <li>Descobrir</li>
                </a>               
                <a href="/criar" class="nav-link">
                    <li>Criar</li>
                </a>                
                {{/if}}
                {{#if user}}
                {{#if admin}}
                <a href="/admin/denuncias/campanhas" class="nav-link">
                    <li>Admin</li>
                </a>
                {{else}}
                <a href="/painel/pedidos" class="nav-link">
                    <li>Painel</li>
                </a>                
                {{/if}}
            </ul>
            <div class="row nav-profile">
                <div class="img-wrapper">
                    {{#each user}}
                    <img src="/assets/profile/{{cd_foto_usuario}}" class="img-profile" alt="Foto de perfil" />
                    {{/each}}
                </div>
                <img class="seta" src="/assets/img/arrow-down.svg" alt="Icone de seta" />
            </div>
            <div class="toggle-menu header">
                <ul>
                    {{#if admin}}
                    <li class="toggle-link">
                        <a href="/perfil" class="sub titulo">Meus dados</a>
                    </li>
                    {{else}}
                    <li class="toggle-link">
                        <a href="/notificacoes" class="sub titulo">Notificações</a>
                    </li>
                    <li class="toggle-link">
                        <a href="/chat" class="sub titulo">Chat</a>
                    </li>
                    <li class="toggle-link">
                        <a href="/perfil" class="sub titulo">Meus dados</a>
                    </li>                                        
                    {{/if}}
                    <li class="toggle-link logout">
                        <a href="/logout" class="sub titulo">
                            Logout

                            <img src="/assets/img/icone_logout.svg" alt="Logout" />
                        </a>
                    </li>
                </ul>
            </div>
            {{else}}
            <a href="/login" class="nav-link">
                <li>Login</li>
            </a>
            {{/if}}
        </div>
    </nav>
</header>