{{#section 'head'}}
    <title>Notificações de doação</title>
{{/section}}

{{>navbar}}

<main class="lyt_notificacoes lyt_painel pg_ajudas">
    <div class="usuario cards-container">
        <ul class="users row">
            <a href="/notificacoes">
                <li class="titulo-categoria">Minhas campanhas </li>
            </a>
            <a href="/notificacoes/doacoes">
                <li class="titulo-categoria underline">Minhas doações</li>
            </a>
        </ul>
        {{#each notificacao}}
        <div class="card row">
            <div class="card-user row">
                <div class="card-image">
                    <img class="image-card" src="/assets/pedidos/{{cd_imagem_pedido}}" alt="" />
                </div>
                <div class="card-info column">
                    <h1 class="nome-card">{{nm_titulo_pedido}}</h1>
                    <h2 class="desc-card">
                        Dono:
                        {{nm_usuario}}
                    </h2>
                </div>
            </div>
            
            <div class="card-btn column">
                <a href="/chat/{{cd_solicitacao}}">
                    <button class="btn blue">Entrar no chat</button>
                </a>
                 <div class="date row">
                    <span class="date-time">{{formatDate dt_createdAt_solicitacao}}</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</main>

{{>footer}}