{{#section 'head'}}
    <title>Notificações de ajuda</title>
{{/section}}

{{>navbar}}

<main class="lyt_notificacoes lyt_painel pg_n-ajudas">
    <div class="usuario cards-container notif">
            
        {{#each notificacao}}
            {{#if (notificationType ds_notificacao)}}
                <a href="/chat/{{cd_solicitacao_chat}}">
            {{else}}
                <a href="/painel/pedidos/{{cd_pedido}}/{{cd_solicitacao}}">
            {{/if}}
                <div class="card row">
                    <div class="card-user row">
                        <div class="card-image">
                            {{#if (notificationType ds_notificacao)}}
                            <img class="image-card" src="/assets/pedidos/{{cd_imagem_pedido}}" alt=""/>
                            {{else}}
                            <img class="image-card" src="/assets/profile/{{cd_foto_usuario}}" alt=""/>
                            {{/if}}
                        </div>
                        <div class="card-info column">
                            <h2 class="desc-card">
                                {{ds_notificacao}}
                            </h2>
                        </div>
                    </div>
                    <div class="card-btn column">
                        <div class="date row">
                            Enviado em:
                            <span class="date-time">{{formatDate dt_createdAt_notificacao}}</span>
                        </div>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>

</main>

{{>footer}}