{{#section 'head'}}
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/painel.css" />
    <link rel="stylesheet" href="/css/usuario-pedido.css" />

    <title>Aceitar solicitação</title>
{{/section}}

{{>navbar}}

<main>
    <div class="usuario profile-container columm">

        <div class="user-container column">
            <ul class="users row">
                <a href="#">
                    <li class="titulo-categoria underline">
                        Solicitações de ajuda
                    </li>
                </a>
                <a href="/notificacoes/doacoes">
                    <li class="titulo-categoria">Doações realizadas</li>
                </a>
            </ul>
            <h1 class="titulo-user">Usuário</h1>
            {{#each notificacao}}
            <div class="user-wrapper row">
                <div class="imagePerfil column">
                    <img src="/assets/profile/{{cd_foto_usuario}}" alt="Foto de perfil" />
                </div>
                <div class="informacoes column">
                    <div>
                        <h1 class="sub titulo-user">Nome</h1>
                        <p>{{nm_usuario}}</p>
                    </div>

                    <div class="row">
                        <div>
                            <h1 class="sub titulo-user">Email</h1>
                            <p>{{cd_email_usuario}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h1 class="sub titulo-user">Telefone</h1>
                            <p>{{cd_celular_usuario}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="alimento-container">
            <div class="head row">
                <h1>Alimentos</h1>
                <h1>Quantidade ofertada</h1>
            </div>
            <div class="column">
                {{#each alimento}}
                <div class="alReq row">
                    <h1 class="reqAlimento">{{nm_alimento_donation}}</h1>
                    <h1 class="reqQuantidade">{{qt_contribuicao_donation}} {{nm_medida_alimento}}</h1>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="comentario-container column">
            <h1 class="sub titulo-user">Comentário</h1>
            {{#each notificacao}}
            <div class="comentario">
                <p>
                    {{ds_comentario_solicitacao}}
                </p>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="botoes row">
        <button class="btn green" type="button">Entrar no chat</button>
    </div>
</main>