{{#section 'head'}}
    <title>Requisição</title>
{{/section}}

{{>navbar}}

<main class="lyt_painel lyt_notificacoes pg_pajudas">
    {{>msg}}
    
    <div class="usuario container-painel">
        <div class="background-painel">
            <h1 class="painel-titulo">{{pedido.[0].nm_titulo_pedido}}</h1>
            <div class="img-wrapper">
                <img src="/assets/img/background_user.png" alt="" />
            </div>
        </div>

        <div class="menu-painel">
            <ul class="menu-painel-buttons row">
                <a href="#">
                    <li class="painel-text active">Doações recebidas</li>
                </a>

                <a href="/painel/relatorio/{{pedido.[0].cd_pedido}}">
                    <li class="painel-text">Relatório</li>
                </a>
            </ul>

        </div>
    </div>

    <div class="cards-container">
        <form class="radio row" action="" method="">
            <div class="filtroPendente row">
                <input type="radio" name="situacao" value="A confirmar" id="aconfirmar" checked="true">
                <label for="aconfirmar">A Confirmar</label>
            </div>

            <div class="filtroEntregue row">
                <input type="radio" name="situacao" value="Entregues" id="entregues">
                <label for="entregues">Entregues</label>
            </div>

            <div class="filtroNaoEntregue row">
                <input type="radio" name="situacao" value="Não entregues" id="nEntregues">
                <label for="nEntregues">Não entregues</label>
            </div>
        </form>

        {{#each notificacao}}
        <div class="card row">
            <div class="card-user row">
                <div class="card-image">
                    <img class="image-card" src="/assets/profile/{{cd_foto_usuario}}" alt="" />
                </div>
                <div class="card-info column">
                    <h1 class="nome-card">{{nm_usuario}}</h1>
                    <h2 class="desc-card">
                        Confirmação de recebimento:
                        <strong class="strongSit"> {{cd_situacao_solicitacao}}</strong>
                    </h2>
                </div>
            </div>
            <div class="card-btn row">
                <a href="/painel/pedidos/{{cd_pedido}}/{{cd_solicitacao}}">
                    <button class="btn blue">Ver detalhes</button>
                </a>
            </div>
        </div>
        {{/each}}
    </div>

</main>

