{{#section 'head'}}
    <title>Doações Recebidas</title>
{{/section}}

{{>navbar}}

<main class="lyt_painel lyt_notificacoes pg_pajudas">
    {{>msg}}
    
    <div class="usuario container-painel">
        <div class="background-painel">
            <h1 class="painel-titulo">{{pedido.[0].nm_titulo_pedido}}</h1>
            <div class="img-wrapper">
                <img src="/assets/img/background_user.png" alt="" />
            </div>
        </div>

        <div class="menu-painel">
            <ul class="menu-painel-buttons row">
                <a href="#">
                    <li class="painel-text active">Doações recebidas</li>
                </a>

                <a href="/painel/relatorio/{{pedido.[0].cd_pedido}}">
                    <li class="painel-text">Relatório</li>
                </a>
            </ul>

        </div>
    </div>

    <div class="cards-container column">
        <form class="radio row" action="" method="">
            <div class="filtroPendente row">
                <input type="radio" name="situacao" value="A confirmar" id="aconfirmar" checked="true">
                <label for="aconfirmar">A Confirmar</label>
            </div>

            <div class="filtroEntregue row">
                <input type="radio" name="situacao" value="Entregues" id="entregues">
                <label for="entregues">Entregues</label>
            </div>

            <div class="filtroNaoEntregue row">
                <input type="radio" name="situacao" value="Não entregues" id="nEntregues">
                <label for="nEntregues">Não entregues</label>
            </div>
        </form>

        <div class="tab confirmar column">
            {{#each confirmar}}
                <a class="card-link"href="/painel/pedidos/{{cd_pedido}}/{{cd_solicitacao}}">
                    <div class="card row">
                        <div class="card-user row">
                            <div class="card-image">
                                <img class="image-card" src="/assets/profile/{{cd_foto_usuario}}" alt="" />
                            </div>
                            <div class="card-info column">
                                <h1 class="nome-card">{{nm_usuario}}</h1>
                                <h2 class="desc-card">
                                    Confirmação de recebimento:
                                    <strong class="strongSit"> {{cd_situacao_solicitacao}}</strong>
                                </h2>
                            </div>
                        </div>
                        <div class="card-btn row column">
                            <div class="date row">
                                Enviado em: 
                                <span class="date-time">{{dateNoHour dt_createdAt_solicitacao}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>

        <div class="tab entregue column">
            {{#each entregue}}
                <a class="card-link"href="/painel/pedidos/{{cd_pedido}}/{{cd_solicitacao}}">
                    <div class="card row">
                        <div class="card-user row">
                            <div class="card-image">
                                <img class="image-card" src="/assets/profile/{{cd_foto_usuario}}" alt="" />
                            </div>
                            <div class="card-info column">
                                <h1 class="nome-card">{{nm_usuario}}</h1>
                                <h2 class="desc-card">
                                    Confirmação de recebimento:
                                    <strong class="strongSit"> {{cd_situacao_solicitacao}}</strong>
                                </h2>
                            </div>
                        </div>
                        <div class="card-btn row column">
                            <div class="date row">
                                Entregue em:
                                <span class="date-time">{{dateNoHour dt_deliveredAt_solicitacao}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>

        <div class="tab naoentregue column">
            {{#each naoentregue}}
                <a class="card-link"href="/painel/pedidos/{{cd_pedido}}/{{cd_solicitacao}}">
                    <div class="card row">
                        <div class="card-user row">
                            <div class="card-image">
                                <img class="image-card" src="/assets/profile/{{cd_foto_usuario}}" alt="" />
                            </div>
                            <div class="card-info column">
                                <h1 class="nome-card">{{nm_usuario}}</h1>
                                <h2 class="desc-card">
                                    Confirmação de recebimento:
                                    <strong class="strongSit"> {{cd_situacao_solicitacao}}</strong>
                                </h2>
                            </div>
                        </div>
                        <div class="card-btn row column">
                            <div class="date row">
                                Recebido em:
                                <span class="date-time">{{dateNoHour dt_createdAt_solicitacao}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>

</main>

<script>
    var radios = document.querySelectorAll('input[type="radio"][name="situacao"]')
    var card = document.querySelectorAll('.card.row') 
    var tabConfirmar = document.querySelector('.tab.confirmar')
    var tabEntregue = document.querySelector('.tab.entregue')
    var tabNaoEntregue = document.querySelector('.tab.naoentregue')
    var radioConfirmar = document.querySelector('#aconfirmar')
    var radioEntregue = document.querySelector('#entregues')
    var radioNaoEntregue = document.querySelector('#nEntregues')

    tabConfirmar.classList.add('visible')
    tabEntregue.classList.remove('visible')
    tabNaoEntregue.classList.remove('visible')

    if(card != null){
        radios.forEach(function(radio, index){
            radio.addEventListener('click', () => {
                if(radio.id=="aconfirmar"){
                    tabConfirmar.classList.add('visible')
                    tabEntregue.classList.remove('visible')
                    tabNaoEntregue.classList.remove('visible')
                } else if(radio.id=="entregues"){
                    tabConfirmar.classList.remove('visible')
                    tabEntregue.classList.add('visible')
                    tabNaoEntregue.classList.remove('visible')
                } else if(radio.id=="nEntregues"){
                    tabConfirmar.classList.remove('visible')
                    tabEntregue.classList.remove('visible')
                    tabNaoEntregue.classList.add('visible')
                } 
            })
        })      
    }


</script>

