{{#section 'head'}}
    <title>Requisição</title>
{{/section}}

{{>navbar}}

    <main class="lyt_painel lyt_usuario-pedido pg_pajuda">
        {{!-- <!-- Painel Topo--> --}}
        <div class="usuario container-painel">
            <div class="background-painel">
                <h1 class="painel-titulo">{{solicitacao.[0].nm_titulo_pedido}}</h1>
                <div class="img-wrapper">
                    <img src="/assets/img/background_user.png" alt="" />
                </div>
            </div>

            <!-- Painel Menu-->
            <div class="menu-painel">
                <ul class="menu-painel-buttons row">
                    <a href="#">
                        <li class="painel-text active">Doações recebidas</li>
                    </a>
                    <a href="/painel/relatorio/{{solicitacao.[0].cd_pedido}}">
                        <li class="painel-text">Relatório</li>
                    </a>
                </ul>
            </div>
        </div>

        {{!-- <!-- Informações da ajuda --> --}}
        <div class="usuario profile-container columm">
            <!-- Usuário -->
            <div class="user-container column">
                <div class="user-wrapper row">
                    <div class="row">
                        {{!-- <!-- Imagem --> --}}
                        <div class="imagePerfil column">
                            <img
                                src="/assets/profile/{{solicitacao.[0].cd_foto_usuario}}"
                                alt="Foto de perfil"
                            />
                        </div>

                        {{!-- <!-- Nome --> --}}
                        <div class="informacoes column">
                            <h1 class="sub titulo-user user-name">
                                {{solicitacao.[0].nm_usuario}}
                            </h1>
                            <p class="user-info">
                                {{telNumber solicitacao.[0].cd_celular_usuario}} | {{solicitacao.[0].cd_email_usuario}}
                            </p>
                        </div>
                    </div>

                    {{!-- <!-- Botão --> --}}
                    <a href="/chat/{{chat.[0].cd_solicitacao_chat}}" class="btn blue" type="button">
                        Entrar no chat
                    </a>
                </div>
            </div>

            {{!-- <!-- Alimentos, comentário e situação --> --}}
            <div class="row fc-wrapper">
                {{!-- <!-- Container dos alimentos --> --}}
                <div class="food-container column">
                    <h1 class="sub titulo-user">Alimentos ofertados</h1>
                    <div class="row descAlimentos">
                        <h1>Alimentos</h1>
                        <h1>Quantidade</h1>
                    </div>
                    <div class="alimento-container">
                        <div class="column">
                            {{!-- <!-- Alimentos --> --}}
                            {{#each alimento}}
                            <div class="alReq row">
                                <h1 class="reqAlimento">{{nm_alimento_donation}}</h1>
                                <h1 class="reqQuantidade">{{qt_contribuicao_donation}}{{sg_medida_produto}}</h1>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>

                {{!-- <!-- Comentário e Situação da entrega --> --}}
                <div class="comentario-container column">
                    {{!-- <!-- Comentário --> --}}
                    <h1 class="sub titulo-user">Comentário</h1>
                    <div class="comentario">
                        <p>
                            {{solicitacao.[0].ds_comentario_solicitacao}}
                        </p>
                    </div>

                    {{!-- <!-- Situação --> --}}
                    <h1 class="sub titulo-user">Situação da entrega</h1>
                    <p class="situacaoReq">{{solicitacao.[0].cd_situacao_solicitacao}}</p>
                </div>
            </div>
        </div>

        {{!-- <!-- Botões --> --}}
        {{#if entregueOrNot}}
        <form action="/painel/ressoli" method="POST">
        {{#each solicitacao}}
        <input type="hidden" name="soli" value="{{cd_solicitacao}}">
        {{/each}}
        <div class="botoes-wrapper column">
            <div class="botoes row">
                <button class="btn green-concluded" type="submit" name="bt" value="true">
                    Entregou a doação
                </button>
                <button class="btn red" type="submit" name="bt" value="false">
                    Não entregou a doação
                </button>
            </div>
        </div>
        </form>
        {{else}}
        {{/if}}
    </main>

{{>footer}}
