<head>
    <title>Minhas campanhas (Relatório)</title>
</head>

{{>navbar}}

<main class="lyt_painel lyt_usuario-pedido pg_relatorio">

    {{!-- Painel --}} 
    <div class="usuario container-painel">
        <div class="background-painel">
            <h1 class="painel-titulo">{{campanha.[0].nm_titulo_pedido}}</h1>
            <div class="img-wrapper">
                <img
                    src="/assets/img/background_user.png"
                    alt=""
                />
            </div>
        </div>

            {{!-- Painel Menu --}}
        <div class="menu-painel">
            <ul class="menu-painel-buttons row">
                <a href="#">
                    <li class="painel-text active">Relatório</li>
                </a>
                <a href="/painel/pedidos/{{campanha.[0].cd_pedido}}">
                    <li class="painel-text">Ajudas recebidas</li>
                </a>
            </ul>
        </div>
    </div>

    {{!-- Relatório --}} 
    <div class="usuario profile-container columm">
        {{#if notexpirado}}
        <h1>Você só consegue visualizar o relatório após a campanha expirar!</h1>
        {{else}}
<h1>Relatório Geral da campanha:</h1>
        <div class="relatorio-container row">

            {{!-- Container dos Gráficos --}} 
            <div class="charts-relatorio column">
                {{!-- Wrapper do Gráfico de Doughnut --}} 
                <div class="chart-total wrapper">
                    <h1>Total arrecadado</h1>
                    <div class="chart-container doughnut">
                        <section class="chart" id="chartContainer">
                            <figure class="chart__figure">
                                {{!-- Gráfico Doughnut --}} 
                                <canvas
                                    class="chart__canvas"
                                    id="chartCanvas"
                                    width="150"
                                    height="150"
                                    aria-label="Example doughnut chart showing data as a percentage"
                                    role="img"
                                ></canvas>
                            </figure>
                        </section>
                    </div>
                </div>

                {{!-- Wrapper do Gráfico de Pizza --}} 
                <div class="chart-relacao wrapper">
                    <h1>Relação dos alimentos</h1>
                    <div class="chart-container pizza">
                        <section class="chart">
                            <figure class="chart__figure">
                                {{!-- Gráfico Pizza --}} 
                                <canvas
                                    class="chart__canvas"
                                    id="myChart"
                                    width="150"
                                    height="150"
                                    aria-label="Example doughnut chart showing data as a percentage"
                                    role="img"
                                ></canvas>
                            </figure>
                        </section>
                    </div>
                </div>
            </div>

            {{!-- Container dos Alimentos --}} 
            <div class="alimentos-relatorio wrapper">
                <h1>Alimentos</h1>
                <h2>Total de alimentos arrecados</h2>

                {{!-- Coluna dos Alimentos --}} 
                <div class="alimentos column">
                    {{!-- Alimento --}} 
                    {{#each alimentos}}
                    <div class="alimento column">
                        <h2 class="sub titulo">{{nm_alimento}}</h2>

                        {{!-- Progresso --}} 
                        <div class="progresso-container row">
                            <div class="arrecadado">
                                <p class="row">
                                    <span class="arrecadado-Arroz percent-{{replaceSpace nm_alimento}}">
                                        10
                                    </span>
                                    %
                                </p>
                            </div>
                            <div class="porcentagem">
                                <div class="progresso-barra">
                                    <div
                                        class="
                                            progresso-atual
                                            progresso-atual-{{replaceSpace nm_alimento}}
                                        "
                                    ></div>
                                </div>
                            </div>
                        </div>

                        {{!-- Meta --}} 
                        <div class="meta row">
                            <p>Arrecadado: {{qt_doada_alimento}} {{nm_medida_alimento}}</p>
                            <p>Meta: {{qt_alimento}} {{nm_medida_alimento}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            {{!-- Container das Doações --}} 
            <div class="doacoes-relatorio column">
                {{!-- Total de doações --}} 
                <div class="total-doacoes wrapper">
                    <h1>{{campanha.[0].qt_doacoes_pedido}}</h1>
                    <h2>Total de doações recebidas</h2>
                </div>

                {{!-- Doadores --}} 
                <div class="lista-doacoes wrapper">
                    <h1>Doadores</h1>

                    {{!-- Coluna dos Doadores --}} 
                    <div class="doadores column">
                    {{#each doadores}}
                        <div class="doador column">
                            {{!-- Doador --}} 
                            <div class="row">
                                {{!-- Imagem --}} 
                                <div class="img-wrapper">
                                    <img
                                        src="/assets/profile/{{cd_foto_usuario}}"
                                        alt=""
                                    />
                                </div>

                                {{!-- Informações --}} 
                                <div class="doador-info">
                                    <h1>{{nm_usuario}}</h1>
                                    <p class="row">
                                        <img
                                            src="/assets/img/icone_mail.svg"
                                            alt=""
                                        />
                                        {{cd_email_usuario}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        
    </div>
    
</main>

{{>footer}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

{{!-- Doughnut Chart Script --}}
<script>
    var percent = Math.trunc((100*{{campanha.[0].qt_doacoes_pedido}})/{{campanha.[0].qt_total_pedido}}); //Percentual arrecadado

    var color = "#064789";
    var canvas = "chartCanvas";
    var container = "chartContainer";

    if (percent >= 100) {
        var percentValue = 100; // Sets the single percentage value
    } else {
        var percentValue = percent; // Sets the single percentage value
    }

    const colorGreen = color, // Sets the chart color
        animationTime = "1400"; // Sets speed/duration of the animation

    const chartCanvas = document.getElementById(canvas), // Sets canvas element by ID
        chartContainer = document.getElementById(container), // Sets container element ID
        divElement = document.createElement("div"), // Create element to hold and show percentage value in the center on the chart
        domString =
            '<div class="chart__value"><p>' +
            percent +
            "%</p><span class='sub titulo'>da meta</span></div>"; // String holding markup for above created element

    // Create a new Chart object
    const doughnutChart = new Chart(chartCanvas, {
        type: "doughnut", // Set the chart to be a doughnut chart type
        data: {
            datasets: [
                {
                    data: [percentValue, 100 - percentValue], // Set the value shown in the chart as a percentage (out of 100)
                    backgroundColor: [colorGreen], // The background color of the filled chart
                    borderWidth: 0, // Width of border around the chart
                },
            ],
        },
        options: {
            cutoutPercentage: 75, // The percentage of the middle cut out of the chart
            responsive: false, // Set the chart to not be responsive
            tooltips: {
                enabled: false, // Hide tooltips
            },
        },
    });

    Chart.defaults.global.animation.duration = animationTime; // Set the animation duration

    divElement.innerHTML = domString; // Parse the HTML set in the domString to the innerHTML of the divElement
    chartContainer.appendChild(divElement.firstChild); // Append the divElement within the chartContainer as it's child
</script>

{{!-- Pizza Chart Script --}}
<script>
    //Alimentos
    var dataset = [
    {{#each alimentos}}
        {
            label: '{{nm_alimento}}',
            count: {{qt_doada_alimento}},
        },
    {{/each}}
    ];

    // All data
    var allLabels = [];
    var allCount = [];
    var allBackgroundColor = [];


    // Função que gera cor hexadecimal aleatória
    function selectColor() {
        // var randomColor = Math.floor(Math.random() * 16777215).toString(16);
        // return `#${randomColor}`;

        var letters = "0123456789ABCDEF";
        var color = "#";
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }

        if (!validateColor) {
            var letters = "0123456789ABCDEF";
            var color = "#";
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
        }

        return `${color}`;
    }

    //Função que valida se a cor já foi selecionada
    function validateColor(selectedColor) {
        var isValid;
        for (color in allBackgroundColor) {
            if (selectedColor === color) {
                isValid = false;
            }
        }
        isValid = true;

        return isValid;
    }

    for (alimentoData in dataset) {
        allLabels[alimentoData] = dataset[alimentoData].label.toUpperCase();
        allCount[alimentoData] = dataset[alimentoData].count;
        allBackgroundColor[alimentoData] = selectColor();
    }

    // Chart JS Initialize
    var ctx = document.getElementById("myChart").getContext("2d");

    const data = {
        labels: allLabels,
        datasets: [
            {
                data: allCount,
                backgroundColor: allBackgroundColor,
                borderWidth: 0.5,
            },
        ],
    };

    var myChart = new Chart(ctx, {
        type: "pie",
        data: data,
        options: {
            responsive: true,
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        let allData =
                            data.datasets[tooltipItem.datasetIndex].data;
                        let sumData = allData.reduce(
                            (memo, data) => (memo += data),
                            0
                        );

                        let tooltipLabel = data.labels[tooltipItem.index];
                        let tooltipData = allData[tooltipItem.index];
                        let tooltipPercentageCalc =
                            (tooltipData / sumData) * 100;
                        let tooltipPercentage = `${tooltipPercentageCalc.toFixed(
                            1
                        )}%`;

                        return `${tooltipLabel} : ${tooltipPercentage}`;
                    },
                },
            },
            legend: {
                display: false,
            },
        },
    });

    {{#each grafico}}
    math = ({{qt_doada_alimento}}*100)/{{qt_alimento}};
    if(math >= 100){
        document.querySelector('.progresso-atual-{{replaceSpace nm_alimento}}').style.width = 100 + '%';
    }
    else{
        document.querySelector('.progresso-atual-{{replaceSpace nm_alimento}}').style.width = math + '%';
    }
    document.querySelectorAll('.percent-{{replaceSpace nm_alimento}}')[0].innerText = Math.trunc(math);
    {{/each}}
</script>
