{{#section 'head'}}
    <title>Requisição</title>
{{/section}}

{{>navbar}}

<main class="lyt_painel lyt_notificacoes pg_pdoações">
    <div class="usuario container-painel">
        <div class="background-painel">
            <h1 class="painel-titulo">Painel</h1>
            <div class="img-wrapper">
                <img src="/assets/img/background_user.png" alt="" />
            </div>
        </div>

        <div class="menu-painel">
            <ul class="menu-painel-buttons row">
                <a href="/painel/pedidos">
                    <li class="painel-text">Meus pedidos</li>
                </a>
                <a href="/painel/doacoes">
                    <li class="painel-text active">Minhas doações</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="cards-container">
        <h1 class="titulo">
            Quantidade de doações:
            {{#each quant}}
            <strong class="titulo-blue">{{count}}</strong>
            {{/each}}
        </h1>
        {{#each doacoes}}
        <div class="card row">
            <div class="card-user row">
                <div class="card-image">
                    <img class="image-card" src="/assets/pedidos/{{cd_imagem_pedido}}" alt="" />
                </div>
                <div class="card-info column">
                    <h1 class="nome-card">
                        {{nm_titulo_pedido}}
                    </h1>
                    <h2 class="desc-card min">
                        Data da doação: {{dateNoHour dt_deliveredAt_solicitacao}}
                    </h2>
                </div>
            </div>

            <div class="card-btn column">
                <a href="/descobrir/pedido/{{cd_pedido}}">
                    <button class="btn blue">Ver pedido</button>
                </a>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="numeracao-paginas">
        <ul class="paginas">
            <a href="">
                <li class="num cont-pagina">1</li>
            </a>
            <a href="">
                <li class="num cont-pagina">2</li>
            </a>
            <a href="">
                <li class="num cont-pagina">3</li>
            </a>
            <a href="">
                <li class="num cont-pagina">4</li>
            </a>
            <a href="">
                <li class="num cont-pagina">5</li>
            </a>
            <a href="">
                <li class="num cont-pagina">6</li>
            </a>
        </ul>
        <a href="">
            <div class="cont-pagina">Seguinte &#62;</div>
        </a>
    </div>
</main>