{{#section 'head'}}
    <title>Informações</title>
{{/section}}

{{>navbar}}

<body>
    <main class="lyt_painel pg_informacoes">
        <form class="form-login column" action="/perfil" method="POST" enctype="multipart/form-data">
            <div class="profile-container columm">
                <div class="user-container column">
                    <h1 class="titulo-user">Minhas informações</h1>
                    {{#each erros}}
                    <div class="form-error">
                        <h2 class="sub titulo">{{text}}</h2>
                    </div>
                    {{/each}}
                    <div class="container-user column">
                        {{#each perfil}}
                        <div class="user-wrapper row">
                            <!-- Imagem -->
                            <div class="imagePerfil column">
                                <img
                                    src="/assets/profile/{{cd_foto_usuario}}"
                                    alt="Foto de perfil"
                                    class="imgUser"
                                />
                                <div class="column changeImg">
                                    <input
                                        class="input-form"
                                        type="file"
                                        accept="image/*"
                                        name="userImg"
                                    />
                                </div>
                            </div>

                            <!-- Informações -->
                            <div class="informacoes column">
                                <!-- Nome -->
                                <div class="row nome">
                                    <div class="column">
                                        <label for="">Nome completo</label>
                                        <input
                                            class="input-form"
                                            type="text"
                                            name="username"
                                            placeholder="Nome"
                                            value="{{nm_usuario}}"
                                        />
                                    </div>
                                </div>

                                <!-- Email e CPF -->
                                <div class="row">
                                    <div class="column">
                                        <label for="">Email</label>
                                        <input
                                            class="input-form"
                                            type="email"
                                            name="email"
                                            value="{{cd_email_usuario}}"
                                            placeholder="email@email.com"
                                        />
                                    </div>
                                    <!--<div class="column">
                                        <label for="">CPF</label>
                                        <input
                                            class="input-form"
                                            type="text"
                                            name="cpf"
                                            placeholder="000.000.000-00"
                                            value="{{cd_cpf_usuario}}"
                                        />
                                    </div> -->
                                </div>

                                <!-- Data Nascimento e Celular -->
                                <div class="row">
                                    <!-- <div class="column">
                                        <label for="">Data de nascimento</label>
                                        <input
                                            class="input-form"
                                            type="date"
                                            name="dtuser"
                                            value="{{dateIntFormat dt_nascimento_usuario}}"
                                        />
                                    </div>   -->                                
                                    <div class="column">
                                        <label for="">Celular</label>
                                        <input
                                            class="input-form"
                                            type="tel"
                                            name="cel"
                                            placeholder="(00) 00000-0000"
                                            value="{{cd_celular_usuario}}"
                                        />
                                    </div>
                                </div>

                                <!-- Estado e Cidade -->
                                <div class="row">
                                    <div class="column">
                                        <label for="">Estado</label>
                                        <select
                                            name="estado"
                                            class="input-form"
                                        >
                                            <option value="{{sg_estado_usuario}}">
                                                {{sg_estado_usuario}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="column">
                                        <label for="">Cidade</label>

                                        <input type="hidden" name="state" />
                                        <select
                                            name="cidade"
                                            class="input-form"
                                        >
                                            <option value="{{nm_cidade_usuario}}">
                                                {{nm_cidade_usuario}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <!-- Redefinir senha -->
                        <div class="informacoes column">
                            <div class="row">
                                <div class="column">
                                    <label for="">Senha atual</label>
                                    <input
                                        class="input-form"
                                        type="password"
                                        name="pass"
                                    />
                                </div>
                                <div class="column">
                                    <label for="">Senha Nova</label>
                                    <input
                                        class="input-form"
                                        type="password"
                                        name="newPass"
                                    />
                                </div>
                                <div class="column">
                                    <label for="">Confirme sua senha</label>
                                    <input
                                        class="input-form"
                                        type="password"
                                        name="passConf"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botão Editar Informações-->
            <div class="botoes row">
                <input
                    class="btn blue"
                    type="submit"
                    value="Editar informações"
                />
            </div>
        </form>
    </main>
</body>

<script src="/js/estado-cidade.js"></script>

<script>
    const img = document.querySelector(".imagePerfil");
    const changeImage = document.querySelector(".changeImg");

    img.addEventListener("mouseover", () => {
        changeImage.classList.add("visible");
    });

    img.addEventListener("mouseout", () => {
        changeImage.classList.remove("visible");
    });
</script>
